[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
smbus = "*"
luma-oled = "*"
luma-core = "*"
luma-lcd = "*"

[dev-packages]
rope = "*"
flake8 = "*"

[requires]
python_version = "3.11"
